<section class="card">
  <a href="/wine/{{id}}">
    <header>{{type}}</header>

    <div class="card-body">
      {{!-- add an image --}}
      <img src="{{food_image}}" alt="{{food_pairing}}">
      <p> Food Pairing: {{food_pairing}}</p>
      <p> Description: {{description}}</p>
      <p> For more information about the {{name}} go to: {{wine_url}}</p>
    </div>
  </a>
</section>
