{{!-- wine pairing --}}
<section class="card">
  <a href="/wine/{{id}}">
    <header>{{type}}</header>

    <div class="card-body">
      <img src="/images/{{wine_image}}" alt="{{name}}">
      <p> Food Pairing: {{food_pairing}}</p>
      <p> Description: {{description}}</p>
      <p> For more information about the {{name}} go to: {{wine_url}}</p>
    </div>
  </a>
</section>

{{!-- comment section --}}
<div class="comments-div">
{{> comments wine.comments}}
{{#if loggedIn}}
  <div class="card w-80 p-2">
    <div class="card-body">
      <form class="comment-description comment-form">
        <div class="comment-input-div">
          <textarea class="comment-input-text" name="comment-body"></textarea>
        </div>
        <div>
          <button class="comment-input-btn" type="submit">add comment</button>
          <button type="button" class="upvote-btn">upvote</button>
        </div>
      </form>
    </div>
  </div>
{{/if}}
</div>

        <!-- Footer -->
  <footer></footer>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}


