{{!-- wine pairing --}}
<section class="wine-rec-section">

        <!-- Food Rec -->
        <div class="rec-food-container">

            <!-- Header -->
          <div class="head-div wine-head">
            <h1>{{type}}</h1>
            <div class="upvote">
                <h1>- pairs well with</h1>
            </div>
          </div>

          <!-- Food pic & Discription -->
          <div class="food-info">
            <div class="food-pic">
              <img src="{{food_image}}" alt="{{food_pairing}}">
            </div>
            <div class="food-discription">
              <h2>{{food_pairing}}</h2>
              <p>{{description}}</p>
            </div>
          </div>

          <!-- Wine Rec -->
          <div class="head-div wine-head">
            <h1 class="wine-name">The bottle we suggest</h1>
          </div>

          <div class="food-info">
            <div class="food-pic">
              <img src="{{wine_image}}"  alt="{{name}}">
            </div>
            <div class="food-discription">
              <h2>{{name}}</h2>
              <a href="{{wine_url}}" class="vavino" type="button" target="_blank">
                <svg class="bi pe-none me-2 cart2" width="16" height="16">
                  <use xlink:href="#cart" />
                </svg>
                <txt>Order on Vivino</txt>
                </a>
            </div>
          </div>