{{!-- painting --}}

{{#if loggedIn}}
<section class="cat-btn-div" >
<div class="cat-btns">
    <div class="cat-img"> 
        <img src="/images/{{wine.wine_image}}" alt="{{wine.name}}">
    </div>
    <div>
        <h3 class="wine-name">{{wine.type}}</h3>
        <p>Name: {{wine_name}}</p>
    </div>
</div>
</section>

<!-- Otherwise, provide a link to login -->
{{else}}
<div class="hero">
    <div class="hero-container">
        
        <div class="feat-selections">
            <div class="hero-head feat-btn-rt hover-gs">
                <div class="col-lg ft-head-content">
                    <div class="cat-img"> 
                        <a href="/login">
                            <h2 class="discplay-6"> You must login first to view this painting</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}
